In [1]:
import pandas as pd

In [2]:
# leyendo csv
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Seleccionar columna

## 1.1 Syntax 1

In [4]:
# seleccionar una columna con [] (preferida)
gender = df_exams['gender']

In [5]:
# revisar el tipo de data de una columna
type(gender)

pandas.Series

In [10]:
# series: atributos y metodos
gender.index
gender.head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: str

## 1.2 Syntax 2

In [11]:
# seleccionar una columna con .
gender = df_exams.gender

In [15]:
# seleccionar una columna con . (errores)
# df_exams.math score (espacios en blanco)

In [17]:
# seleccionar la misma con []
math_score = df_exams['math score']
math_score

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

# Seleccionar dos o más columnas

In [18]:
# seleccionar 2 columnas usando [[]]
features = df_exams[['gender', 'math score']]

In [20]:
# revisar el tipo de data de la seleccion
type(features)

pandas.DataFrame

In [21]:
# seleccionar 2 o más columnas usando [[]] (el orden importa)
features = df_exams[['gender', 'math score', 'reading score', 'writing score']]
features

     gender  math score  reading score  writing score
0    female          72             72             74
1    female          69             90             88
2    female          90             95             93
3      male          47             57             44
4      male          76             78             75
..      ...         ...            ...            ...
995  female          88             99             95
996    male          62             55             55
997  female          59             71             65
998  female          68             78             77
999  female          77             86             86

[1000 rows x 4 columns]

# Agregar una nueva columna
## 1.1 Agregar una nueva columna con un valor

In [23]:
# agregar una nueva columna al dataframe
df_exams['language score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

## 1.2 Agregar una nueva columna con un array

El dataframe tiene 1000 filas; por ello, tenemos que crear un array de 1000 elementos

In [24]:
# importar numpy
import numpy as np

In [25]:
# crear un array de 1000 elementos
language_score = np.arange(0, 1000)

In [26]:
# tamaño del array
len(language_score)

1000

In [27]:
# agregar una nueva columna al dataframe con un array
df_exams['language score'] = language_score # sobreescribiendo
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [29]:
# crear numeros enteros aleatorios entre 1 y 100 (exclusivo)
language_score = np.random.randint(1, 100, size = 1000)

In [30]:
# el minimo valor es inclusivo y el maximo valor exclusivo
min(language_score)
max(language_score)

np.int32(99)

In [34]:
# agregar una nueva columna al dataframe con un array
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,language_score
0,female,group B,bachelor's degree,standard,none,72,72,74,5,5
1,female,group C,some college,standard,completed,69,90,88,18,18
2,female,group B,master's degree,standard,none,90,95,93,37,37
3,male,group A,associate's degree,free/reduced,none,47,57,44,55,55
4,male,group C,some college,standard,none,76,78,75,50,50
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,12,12
996,male,group C,high school,free/reduced,none,62,55,55,89,89
997,female,group C,high school,free/reduced,completed,59,71,65,41,41
998,female,group D,some college,standard,completed,68,78,77,72,72
999,female,group D,some college,free/reduced,none,77,86,86,20,20

In [35]:
# crear numeros decimales aleatorios entre 1 y 100
np.random.uniform(1, 100, size = 1000)

array([37.22682894, 94.42011464,  2.01802501, 73.94565221, 53.59422116,
       33.11414599, 65.62279798, 49.0903691 , 18.45357651, 75.23714657,
       97.47041235, 35.04499416, 96.6661352 , 70.69150517, 75.60949282,
       54.31773465,  8.45112098, 56.08780485,  5.40072593, 65.22130578,
       84.71430087,  6.0800225 , 25.11205814, 99.18152786, 32.95734274,
       72.71644356, 84.09690259, 86.89018086, 95.38565923, 84.36670346,
       31.75539656, 33.92001885, 23.77143503, 71.1011143 , 29.22050133,
       27.47900172, 35.31312961, 56.35904717, 82.83011575,  2.13762603,
       98.21519158, 71.32107631, 28.51029601, 70.01706683, 68.28776068,
       12.95719706, 63.58557774, 76.26258043, 20.73899821,  8.92067671,
       72.77471924, 58.93037145, 68.79397228, 92.9520341 , 33.69527959,
       65.22743401, 98.39935288, 13.29075077, 15.32155687, 82.09006668,
       77.93683185, 28.94335788, 23.34167361, 88.15062141, 48.72686605,
        2.5060451 , 22.67437651, 70.54983805, 15.66453599, 88.81944829,
       45.60896357, 22.87813128, 56.59756835, 48.70688273, 33.28175565,
       37.37520785, 34.92719805, 51.70543148, 13.99242937, 57.76437829,
       34.98763663, 59.30826938, 60.81345245, 59.48989931, 34.38988035,
       21.61797739, 33.02189064, 21.28824709, 32.5775333 , 66.99903548,
       41.82726461, 19.66783219, 44.15368484, 50.13494191, 36.75914249,
       19.12933686, 47.37851685, 79.2200031 , 75.78763149, 24.25347359,
       61.55140582, 30.10277752, 77.57416681, 97.81120757, 11.83727632,
       20.45530119, 76.97805611, 20.73651803,  5.20133812, 26.93121196,
       66.74750715, 86.88395738, 58.32742202,  7.13529932, 31.9298782 ,
       91.91204552, 36.00933748, 87.04781945, 71.58099631, 36.04626885,
       57.32159103, 88.43779492,  6.01604726, 97.62668249, 29.26805745,
       25.02030299,  7.10618717,  8.9411931 , 70.62142652, 76.62009072,
       57.75667827, 29.76661736, 26.009955  , 53.09089725, 59.75620427,
       44.65640076, 87.77404416, 40.14320968, 52.74431956, 23.92462874,
        9.88073922,  2.70786604,  9.31727111, 41.25900555, 35.06415   ,
       68.20321847, 91.1182994 , 87.90984109, 93.18965758, 98.41258076,
       40.80977966, 30.57404078, 28.56420788, 34.96663083,  3.04626823,
       63.27100052, 46.5743538 , 95.81340161, 74.04603136, 34.41788493,
       22.69542204, 55.18214589, 35.75934261, 99.20878098, 55.46173511,
       54.45182385, 27.89907874, 88.27206136, 68.66056411, 36.01480059,
       83.80444859, 96.44124328,  2.84809196,  1.8588068 , 15.59972556,
       38.51131754, 35.34447235,  2.29911305, 29.37113408, 86.65673019,
       24.70165871, 40.9542496 , 13.53005819, 87.54138439, 93.52131594,
       93.20759291, 51.70996617, 44.572451  ,  5.96012383, 92.97119348,
        7.19074288, 47.53180725, 71.58261794, 82.27158187,  5.2493696 ,
        6.05561073, 27.31136332,  5.33777955,  9.72158732, 11.14907923,
       98.59693444, 27.98672473, 22.23520517, 34.64956688, 42.88501288,
       60.86723744, 43.87692782, 16.66473889, 71.04594244, 38.91809138,
       99.07111805, 18.13467528, 33.0276601 , 36.4023641 ,  7.86797258,
       34.08238735, 50.89363403, 80.09000476, 74.69627368, 94.22511893,
       95.50682327, 27.6254921 , 38.1636631 , 22.3604643 , 41.44197415,
        9.54540144, 68.0200525 , 51.40651122, 36.73427067, 84.10577626,
       93.6699338 , 55.02318192, 43.23395695, 65.9119245 , 13.22819677,
       56.64919263, 52.59378323, 25.83732138, 38.16979309, 60.70450198,
       90.80140439,  9.71680366, 63.42079421, 14.19785163, 17.12137666,
       82.69537378, 88.05213949, 23.94965943, 15.38941438, 84.02232504,
       80.91247647, 44.26080119, 93.15564707, 32.40892639, 80.81565789,
       80.65698416, 44.69946835, 96.97980111, 19.04628287, 75.8857974 ,
       96.37491731, 17.34221272, 44.9036657 , 89.92283683, 81.35129636,
       27.34222357, 40.18803778, 62.25113187, 81.62346759, 59.58605747,
       62.28753107,  6.84698401,  2.1415016 , 64.87264779, 62.5124321 ,
       18.75466911, 18.57466839, 67.03029161, 68.86814989, 37.02798331,
       33.21322255, 13.93883038, 15.99426492,  8.13708073, 12.99568656,
       31.17994243, 60.72324081, 79.8097827 , 52.50409401, 68.53487645,
       64.52258042, 31.22305546, 69.65755176, 41.86176972,  4.77907951,
       63.24087307, 90.59510009, 10.5624865 , 66.02874476, 29.42187421,
       64.5155589 , 63.71054387,  5.09575902, 57.62507576, 93.73382003,
       53.41193481, 56.97065197, 41.87641558, 86.57035456, 48.7211371 ,
       98.7092544 ,  2.18958923, 55.53880859, 48.36759937, 79.6460257 ,
       81.50045622, 96.46000831, 20.59995506, 81.9500269 ,  9.17939942,
       86.65372202, 43.41238294, 63.75676544, 77.63166001, 96.08726747,
        5.39374836, 55.83288884, 58.60237784, 69.60379525, 38.55008439,
        5.21509736, 52.44431274, 14.95480742, 12.6436998 , 14.66915701,
       72.66809156, 47.35955736, 43.25050502, 14.30744698, 60.20873103,
       93.6368598 , 35.11280629, 61.11375242,  8.80573216, 38.8281155 ,
       91.91232273, 25.02564439, 63.86638471, 77.64651269, 87.01048344,
       10.40120675,  2.86041812,  9.08079603, 16.40492498, 22.57087972,
        7.00309768, 98.26345117, 43.74486889, 26.57726655, 79.52735767,
        4.26287902,  8.38474285, 72.22577793, 49.71699453, 54.24964793,
        4.47854042, 80.23484509, 60.93749822, 54.00262588,  6.01478114,
       50.40943193, 54.14361975, 62.65574642, 91.06723456, 50.20580766,
        1.31154264, 21.82931888, 83.30017589, 15.64544924, 22.69905813,
        2.95203549, 41.92117094, 59.23762675, 13.62476299, 12.39330188,
       67.41591531, 30.69796995, 87.15858415, 86.38093846,  6.87500594,
       91.92393929, 99.72775109, 90.42852122, 68.31847695, 82.8021274 ,
       81.82895376, 15.53076029, 24.83871076, 81.8263074 ,  8.50040994,
       63.86993152, 38.7111119 , 86.5115117 , 57.28114146, 26.66490213,
       68.56665218,  5.17140306, 58.81707267, 87.80048977,  1.1051383 ,
       48.46085869, 17.79065862,  8.64630296, 53.91226798, 89.63705629,
       67.03664592, 21.12558673, 75.14486138, 21.52372815, 50.9677814 ,
       60.06926215, 51.80844437, 33.73165941, 24.11998275, 30.64971459,
       53.67128522, 21.15489958, 11.571979  ,  4.37065614, 90.90493158,
       52.11027471, 48.04995849, 80.49532668, 92.42003476, 19.65881959,
       68.49082502, 11.81751569, 42.88354287, 64.5971485 ,  2.98951754,
       29.25125057,  5.3335495 , 17.11951506, 52.66044906, 18.48671878,
       92.71752289, 83.38305629, 41.52477912, 70.96675362, 51.49270904,
       64.07820612, 45.01413994,  7.13033209, 25.23499938,  4.15874454,
       60.24173672, 97.03194011, 57.12334248, 52.30850949, 64.27104094,
       23.25749585, 78.61112966, 94.60478814, 22.29301459,  9.61322891,
       63.82594255, 61.0017279 , 39.87936953, 52.18835983,  3.64507301,
       12.93516935, 59.38687565, 37.04520311, 66.37439931, 73.5874997 ,
       79.02263123, 30.05306023,  7.04949658,  1.42251778, 29.5893332 ,
       77.69933387, 87.32262381, 76.38541445, 20.14743631, 28.10258316,
       10.22561217, 62.0571716 , 17.66743633, 90.53778407, 87.02183085,
       29.83181819, 89.27602913, 77.73243919, 10.28107808, 20.02832267,
       27.87227142, 51.89741891,  1.19001564, 91.4403553 , 68.53319052,
       78.81031471, 25.60705585,  2.62349445, 72.70976185,  2.3160397 ,
       51.47168433, 59.76911526, 64.08014274, 82.8318505 , 14.82469987,
        6.12281323, 28.82685692,  9.14831633, 51.64723618, 33.10946254,
       73.38929859, 75.98586826, 78.78147284, 26.17158545, 98.88117071,
       20.35802636,  1.87860681, 29.62026559, 32.13705334, 31.58218109,
       52.49971866, 53.52485798, 84.83176486, 41.47697141, 10.60713178,
       39.29406169, 71.12532961, 91.14422622, 73.51315818, 79.13244854,
       96.37733293,  6.91987064,  7.96649833, 35.9971782 , 20.70364151,
       66.12952978, 39.1597622 , 35.32977394, 92.80160818, 91.91934275,
       87.82804406,  3.66620337, 45.00119555,  8.57138802, 59.06964817,
       24.45526446, 40.70645631, 69.08191287, 81.54999262, 82.69486387,
       64.23583408, 14.89891744, 15.66809612, 45.90866686,  7.29613233,
       73.54852892, 97.05722456, 89.93279794, 67.69444404, 38.56918331,
       78.80283863, 18.00665233,  5.00513429, 75.50138074, 23.32739461,
       87.8865228 , 31.66319372, 72.2935891 , 10.73289076, 16.43112035,
        7.68235183, 31.99828913, 77.99917766, 21.62970979, 14.25751268,
       78.00529582, 54.82197419, 40.52679509, 20.0767214 , 61.50524992,
       94.80327052, 86.35182156, 43.32973743, 79.95639583, 33.40932293,
       43.77276967, 96.71388138, 25.47510612, 74.65756789, 92.35855568,
       53.11614838, 62.20936935, 37.74029768, 89.26744815, 96.38619771,
       82.56446454, 56.70156045,  3.75715603, 79.74594368, 61.2940494 ,
       65.83630982, 56.37224306, 87.67169012, 88.44014998, 86.71395264,
       54.54485914, 79.47726025, 12.05177052, 80.28223213, 10.38732334,
        2.47249448, 96.27487474, 78.06067727, 64.77548474, 72.89792191,
       43.45886817,  6.46377756, 92.39750047, 32.12273164, 25.82240836,
       94.8886102 ,  8.08478257, 89.0073783 , 92.68879989, 59.48705902,
       48.1996885 ,  8.16052029, 40.3866389 , 46.73057545, 70.41706315,
       27.45028471, 61.10853893, 60.50392198, 88.67546757, 42.16355184,
        2.65664835, 79.958421  , 68.51677563, 47.58029778, 46.69657999,
       73.97409207, 30.61696641, 54.3644757 , 30.64848834, 30.9471448 ,
        9.20962915, 47.62996003, 13.49117126, 46.76297017,  9.42797781,
       88.33526497, 14.27146612, 50.14210318, 28.64686331, 29.46507526,
       26.95614627,  6.72771091, 40.39469197, 99.39351594,  8.70649374,
       75.51629939, 31.36534585, 72.1853269 , 70.04001302, 42.27322784,
        2.04393924,  4.25084359, 46.61483047, 78.88741154, 91.80114078,
       89.92807881,  9.55654912, 29.29377718, 13.06491951, 10.2686893 ,
       20.02905012, 82.65257178, 95.08208253, 84.15450898, 37.52087275,
        6.71678645, 57.04855848, 31.93343942, 64.87544623, 43.85244968,
        4.02183354, 40.47649928, 54.79090929, 76.48076574, 46.28447249,
       13.56460381, 82.06666887, 81.72800243, 48.14136531, 46.5092573 ,
       51.24945792, 17.0637708 , 28.2896211 ,  6.33892942, 17.24500615,
       62.64439038, 21.30101378, 71.03076013, 59.43966392, 45.66957094,
       43.5896259 , 34.97603405, 71.05775276,  7.87835833, 99.42862902,
       97.54984507, 43.88730207, 80.48817978, 24.16317676, 70.99523488,
       60.52536495, 29.66624438, 60.58092509,  2.93076037, 88.627959  ,
       60.88564648, 46.78009766, 83.75874832, 59.1282247 , 75.33676203,
       82.74748194, 88.70098069,  5.34551227, 74.13525125,  6.07744722,
       21.39492557, 85.99025178, 59.20325151, 85.09099197, 19.74264546,
       90.61155106, 67.00607553, 26.62858457,  7.69344676, 60.39049443,
       39.99045453, 11.97360431, 80.16527734, 58.65513644, 59.44004132,
       96.4731082 , 77.76220488, 56.69874474, 76.60099767, 81.21028716,
        7.05022931, 90.58781318, 13.27106406, 76.57657312, 29.24201513,
       80.40484304, 81.99636608, 18.41329825, 43.64054774, 32.87309655,
       92.29390739, 28.07877676, 35.57075883, 87.44603408, 39.3347757 ,
       64.09775854, 60.31922091, 50.83380166, 22.58703795, 68.36725029,
       44.12012094, 46.30858273, 74.00061517, 88.48225473, 84.37615818,
       84.07251862, 44.72734254, 25.15235152, 89.84910928, 66.83524988,
       34.94789405, 59.42793871,  2.55805578, 48.78062372, 41.15368084,
       81.06977776, 78.35928979, 41.96734288, 89.31693088, 38.70471976,
       18.77331765, 96.53480128, 99.52851318, 23.31907278, 85.63041692,
       12.55516708, 25.99435623, 84.67085702, 67.22710634, 40.25867625,
       95.71764785, 84.75815766, 77.09937549, 20.30804528, 46.22541621,
       57.91714493, 87.5260323 , 22.96202024, 99.84549587, 73.14168105,
       34.26118549, 36.42979945, 73.4379974 , 96.38968266, 61.19489081,
       37.87584895, 33.29105884, 80.95147111, 30.76358765, 63.30412623,
        1.68685913,  4.94125835, 21.23041651, 74.56297747, 97.40387122,
       76.36234309,  7.02961115, 50.0371848 , 14.16046041, 20.44989374,
       59.43890852, 28.24695643, 92.0046803 , 39.94956403, 92.11014298,
       92.03981127, 88.32459541, 69.97302411, 40.22299129, 20.11782312,
       57.11264032, 83.1890237 , 38.10275688, 51.02485855,  8.636198  ,
       42.62102026, 43.19673752, 90.20150677, 96.62337834, 81.02407402,
       71.80614266, 61.18012615, 51.07991032,  2.60069821, 32.54847987,
       18.82510309, 56.12271055, 31.38771643, 26.72768687, 50.3312169 ,
       26.7738879 ,  2.5729812 , 29.865585  ,  7.27233171, 65.61308961,
       54.32922223, 14.86115448, 37.67518821, 54.59065668,  4.49614758,
       82.74423813,  6.44760695,  9.64867941, 76.96212059, 24.8880901 ,
       27.94347182, 29.574774  , 12.4191321 , 89.71845059, 86.18944249,
       73.78932487, 31.85179721, 21.47510569, 88.96843683, 33.11442403,
       49.63392383, 88.60795992, 57.74779243, 53.0117953 , 59.20423997,
       98.97523512,  4.03536802, 25.13932322, 74.95335065, 46.45308107,
       57.66147626, 41.97211277,  8.29481727, 87.0363598 , 36.72044221,
       21.67399517, 25.23463065, 91.31658355, 98.59463565, 25.101386  ,
       21.02349259, 42.55562297,  9.81867963, 42.43679339, 17.95334856,
       17.58300595, 35.45133398, 87.24685167, 51.13257778,  4.97180668,
       55.55973072, 25.14845229, 15.53207998, 80.6809793 , 49.11349109,
       45.94724133, 14.84382617, 69.08183192, 57.2142399 , 47.42771832,
       54.3142444 , 22.76483147, 14.50217812, 93.11764125, 97.16598687,
       10.58629981, 88.48376212, 79.89226232, 49.75000215, 18.2124995 ,
       93.6313444 , 37.66044326, 31.3238698 , 42.33705634, 68.02329465,
       25.64185645, 66.12298615, 23.66880646, 45.65138668, 67.83333419,
       50.17176886, 87.0713181 , 64.17612069, 33.98362743, 80.94359846,
       29.73221777, 23.96178002, 36.53313097, 18.03167238, 40.4757442 ,
       62.30095704, 30.96419271, 86.61449305, 67.07247572, 53.22269207,
       31.95221144, 96.70634865, 43.37388865, 16.70830885, 46.87430567,
       32.12548703, 24.53868724, 75.2100767 , 27.5371882 , 26.44343053,
       69.54226291, 80.99913663,  4.29570396, 35.8632981 , 48.87156979,
       48.84812182, 14.55932864, 52.66915436, 89.66994935, 41.25589178,
        2.68591139, 77.43460407,  4.96163646, 34.77666088, 36.16685168,
        2.06030528,  9.71424276, 63.23014982, 98.42350519, 25.71632236,
       62.11966699, 64.0223434 , 98.86136961, 89.82734758, 99.80528178])