In [1]:
import pandas as pd

# Leer .csv de URL con Pandas
Website: [Football Data](https://www.football-data.co.uk/data.php)

In [6]:
# leer 1 archivo csv de un website
df_premier26 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [7]:
# mostrar dataframe
df_premier26

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,E0,01/02/2026,14:00,Aston Villa,Brentford,0,1,A,0,1,...,2.05,1.80,NaN,NaN,2.05,1.88,1.95,1.83,2.03,1.95
236,E0,01/02/2026,14:00,Man United,Fulham,3,2,H,1,0,...,1.85,2.00,NaN,NaN,1.85,2.00,1.81,1.96,1.92,2.07
237,E0,01/02/2026,14:00,Nott'm Forest,Crystal Palace,1,1,D,1,1,...,1.83,2.03,NaN,NaN,1.83,2.05,1.78,2.02,1.84,2.16
238,E0,01/02/2026,16:30,Tottenham,Man City,2,2,D,0,2,...,2.03,1.83,NaN,NaN,2.03,1.83,1.99,1.79,2.08,1.90
239,E0,02/02/2026,20:00,Sunderland,Burnley,3,0,H,2,0,...,1.95,1.90,NaN,NaN,1.95,1.90,1.86,1.87,1.98,2.01

In [8]:
# renombrar columnas
df_premier26.rename(columns = {'Date' : 'date',
                              'HomeTeam' : 'home_team',
                              'AwayTeam' : 'away_team',
                              'FTHG' : 'home_goals',
                              'FTAG' : 'away_goals'}, inplace = True)

In [9]:
# mostrar df
df_premier26

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,E0,01/02/2026,14:00,Aston Villa,Brentford,0,1,A,0,1,...,2.05,1.80,NaN,NaN,2.05,1.88,1.95,1.83,2.03,1.95
236,E0,01/02/2026,14:00,Man United,Fulham,3,2,H,1,0,...,1.85,2.00,NaN,NaN,1.85,2.00,1.81,1.96,1.92,2.07
237,E0,01/02/2026,14:00,Nott'm Forest,Crystal Palace,1,1,D,1,1,...,1.83,2.03,NaN,NaN,1.83,2.05,1.78,2.02,1.84,2.16
238,E0,01/02/2026,16:30,Tottenham,Man City,2,2,D,0,2,...,2.03,1.83,NaN,NaN,2.03,1.83,1.99,1.79,2.08,1.90
239,E0,02/02/2026,20:00,Sunderland,Burnley,3,0,H,2,0,...,1.95,1.90,NaN,NaN,1.95,1.90,1.86,1.87,1.98,2.01