In [1]:
import pandas as pd

In [2]:
df_exams = pd.read_csv('StudentsPerformance.csv')

In [3]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1 Value Counts

In [4]:
# contar los elementos en la columna "gender"

# funcion len
len(df_exams['gender'])
# metodo .count()
df_exams['gender'].count()

np.int64(1000)

In [5]:
# contar elementos "gender" por categoria
df_exams['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [7]:
# obtener la frecuencia relativa
df_exams['gender'].value_counts(normalize = True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [8]:
# contar elementos de la columna "parental level of education" por categoria
df_exams['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [9]:
# obtener la frecuencia relativa y redondear a 2 decimales
df_exams['parental level of education'].value_counts(normalize = True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64